name: CI/CD Backend

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - uses: docker/metadata-action@v5
        id: meta
        with:
          images: quochiep1610/mini-be
          tags: |
            type=raw,value=latest
            type=sha

      - uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  deploy:
    # chạy deploy ngay trên self-hosted runner trong VM
    needs: build_and_push
    runs-on: [self-hosted, linux, x64, mini-199]
    steps:
      - name: Pull & restart backend
        run: |
            set -e
            cd /opt/mini
            docker compose pull db backend
            docker compose up -d db
            docker compose up -d backend
            docker system prune -f
